


.tableWrapper {
  margin-top: 80px;
  width: calc(100vw - 100px);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  /* font-family: "Muller Thin"; */
  font-size: 12px;
  line-height: 20px;
  margin: 0 20px 0 20px;
  /* font-weight: 700; */
}
button.remowePassages{
  background-color: brown !important;
  display: block;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.row:first-child {
  margin-top: 30px;
}

.row:last-child {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  display: block;
  font-family: "Muller Extra Bold";
  margin: 16px 40px 0 auto;
  height: 36px;
  width: 240px;
  background-color: transparent;
  border: 2px solid gray;
}

.button:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .tableWrapper {
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tableWrapper {
    margin-top: 0;
  }
}


.deleteIcon{
  cursor: pointer;
  width: 20px;
  position: relative;
  top: 5px;
}
