.input {
  box-sizing: border-box;
  height: 50px;
  min-width: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  font-family: 'Muller Narrow Light';
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  padding: 0 20px 0 55px;
  background-color: white;
}

.input:hover {
  border-color: #c2bdbd;
}

.input:focus {
  border-color: #71ab37;
  outline: none;
}

.input::placeholder {
  font-family: 'Muller Narrow Light';
  font-size: 14px;
  color: #a0a0a0;
}

.input:active {
  outline: none;
}

.invalid {
  border-color: #cc0000;
}

.invalid:hover {
  border-color: #cc0000;
}

.invalid:focus {
  border-color: #cc0000;
}

.input:disabled {
  color: #a0a0a0;
  background-color: #f7f7f7;
}

.input:disabled:hover {
  border-color: #e8e8e8;
}
