.default {
  padding: 0;
  margin: 0;

  color: #000000;
  font-family: "Muller Narrow Light";
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.p1 {
  font-family: "Muller Extra Bold";
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
}

.p2 {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.p3 {
  color: #949494;
  text-align: center;
  line-height: 20px;
}

.p4 {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
}

.p5 {
  font-family: "Muller Extra Bold";
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
}

.p6 {
  font-family: "Muller Extra Bold";
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
  text-align: center;
}

.s1 {
  font-family: "Muller Extra Bold";
}

.s2 {
  font-size: 12px;
  line-height: 12px;
  color: #949494;
}

.s3 {
  font-size: 12px;
  line-height: 12px;
  color: #a60000;
}
