*{
  margin: 0;
  padding: 0;
}
 

h1{
  text-align: center; 
  padding-top: 50px;
  margin-bottom: 50px;
}



.container {
  height: calc(100vh - 100px - 70px - 70px - 400px);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center; 
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600; 
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

#fileID{
  display: none;
}


#content-target{
  padding: 10px;
  border-radius: 15px;
  background-color: whitesmoke;
  margin-top: 50px;
  font-size: 20px;

  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.buttonXLS .XLS{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(16, 121, 63) !important;
  border-radius: 10px;
}


 

.Modal{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  /* background-color: rgb(0, 0, 0 , 0.7); */
}