.tableWrapper {
  margin-top: 80px;
  width: calc(100vw - 100px);
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px;

  .formFields {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1000px;
  }

  .formButtons {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .fieldDatesTitle,
  .fieldDeviationsTitle,
  .fieldSequenceNumberTitle {
    font-size: 17px;
    font-weight: 700;

    text-align: center;
  }

  .fieldDates,
  .fieldDeviations,
  .fieldSequenceNumber {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: 265px;
  }

  .fieldDates,
  .fieldSequenceNumber {
    align-items: stretch;
  }

  .fieldDatesInputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .dateField {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      //align-items: center;

      .dateFieldLabel {
        text-align: center;
        font-weight: 700;
      }
    }
  }
}

.radioButtonField {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: stretch;
  justify-content: flex-start;
}

.fieldDeviationsInputs {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
