.tableWrapper {
  margin-top: 80px;
  width: calc(100vw - 100px);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

input[type="file"] {
  display: none;
}

.link {
  display: block;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.text {
  /* font-family: "Muller Thin"; */
  font-size: 12px;
  line-height: 20px;
  margin: 0 20px 0 20px;
  /* font-weight: 700; */
}

.customUpload {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  width: 350px;
  min-width: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  font-family: "Muller Narrow Light";
  font-size: 14px;
  line-height: 14px;
  padding: 0 20px 0 55px;
  background-color: white;
}

.customUploadText {
  font-family: "Muller Narrow Light";
  font-size: 14px;
  line-height: 14px;
  color: #a0a0a0;
}

.downloadButton {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.downloadButton:hover {
  opacity: 0.5;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.row:first-child {
  margin-top: 30px;
}

.row:last-child {
  margin-bottom: 30px;
}


 
@media (max-width: 1440px) {
  .tableWrapper {
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tableWrapper {
    margin-top: 0;
  }
}
 

.border{
  padding: 30px 10px;
  max-width: calc(100vw - 50px);
}
.border p{
  margin: 20px 30px; 
  font-size: 18px;
  font-weight: 600;
}

.AxisBlocks{
  position: relative;
}
.AxisBlocks .Axis:first-child{
   position: absolute;
   left: 0;
   transform: rotate(-90deg);
}

.Axis{
  text-align: center;
  display: block;
}



.deleteIcon{
  cursor: pointer;
  width: 20px;
  position: relative;
  top: 5px;
}
