


.tableWrapper {
  margin-top: 80px;
  width: calc(100% - 100px);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  /* font-family: "Muller Thin"; */
  font-size: 12px;
  line-height: 20px;
  margin: 0 20px 0 20px;
  /* font-weight: 700; */
}
.Fix{
  color: blue;
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px solid;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}
.goOver{
  color: blue;
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px solid;
}
.goOver:nth-child(n+2){
  margin-top: 10px;
}
.row:first-child {
  margin-top: 30px;
}

.hiddenTable{ 
  border: 2px solid red;
}



.row:last-child {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}
select{
  width: 380px;
  height: 40px;
  padding: 0px 20px 0px 30px;
  box-sizing: border-box; 
  min-width: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  font-family: 'Muller Narrow Light';
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  padding: 0 34px 0 28px;
  background-color: white;
}

.button {
  cursor: pointer;
  display: block;
  font-family: "Muller Extra Bold";
  margin: 16px 40px 0 auto;
  height: 36px;
  width: 240px;
  background-color: transparent;
  border: 2px solid gray;
}

.button:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .tableWrapper {
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tableWrapper {
    margin-top: 0;
  }
}



.testClass{
 
}

