.container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.headerContainer {
  z-index: 1;
  justify-content: space-between;
  background-color: #ffffff;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center;
  padding: 0 40px;
  height: 70px;
}

.logo {
  height: 60px;
  margin-right: 40px;
}

.headerWrapper {
  display: flex;
  height: 100%;
}

.headerItem {
  font-family: 'Muller Narrow Light';
  color: grey;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 24px 0 11px 0;
}

.headerItemsWrapper {
  /* width: 400px; */
  /* width: 551px; */
  display: flex;
  justify-content: space-around;
}

.headerItemsWrapper a {
  margin-right: 22px;
}
.headerItemsWrapper a:last-child {
  margin-right: 0;
}

.headerItemActive {
  color: #000000;
  font-family: 'Muller Narrow Extra Bold';
  font-weight: 700;
}

.headerIconsContainer {
  display: flex;
}

/* Landscape phone to portrait tablet */
@media (max-width: 991px) {
  .burgerMenuIcon {
    height: 18px;
    width: 18px;
  }

  .headerItem {
    font-family: 'Muller Narrow Light';
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 17px 0 5px 0;
    margin: 0 40px;
  }

  .headerItemActive {
    font-family: 'Muller Narrow Extra Bold';
    font-weight: 900;
  }

  .headerContainer {
    justify-content: space-between;
    padding: 0 20px;
  }

  .headerWrapper {
    justify-content: flex-end;
  }

  .shadow {
    position: fixed;
    top: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 350px) {
  .headerContainer {
    top: -60%;
    padding: 0 10px;
  }

  .logoImage {
    height: 11px;
    width: 110px;
  }
}

@media print {
  .headerContainer {
    display: none;
  }
}
