.tableWrapper {
  margin-top: 80px;
  width: 90%;
}

p {
  text-align: left;
}

.bold {
  font-family: "Muller Extra Bold";
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.row:first-child {
  margin-top: 30px;
}

.row:last-child {
  margin-bottom: 30px;
}

.downloadButton {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.downloadButton:hover {
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
}  
.button {
  cursor: pointer;
  display: block;
  font-family: "Muller Extra Bold";
  margin: 16px 40px 0 auto;
  height: 36px;
  width: 240px;
  background-color: transparent;
  border: 2px solid gray;
}

.button:hover {
  text-decoration: underline;
}

.column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tableWrapper {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: white;
} 

span.obj{
  display: block;
  font-size: 20px;
  margin-top: 15px;
}
.RowToolsBtns{
  display: block;
  width: fit-content; 
  margin: 20px auto;
  margin-bottom: 80px;
}
.RowToolsBtns button{
  margin: 0px 15px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #dadada;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px ;
  transition: 0.3s;
  font-weight: 600;
}
.RowToolsBtns button:hover{
  background-color: whitesmoke;
}
@media (max-width: 1440px) {
  .tableWrapper {
    margin-top: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tableWrapper {
    margin-top: 0;
  }
}
.calendar_wrapper {
  height: 750px;
}




