* {
    margin: 0;
    padding: 0;
}

.calendar-wrapper {
    width: calc(100% - 120px);
    margin: 30px auto 50px auto;
    border-radius: 5px;
    background: #fff;
}

.calendar-wrapper h2 {
    margin-bottom: 50px;
}

.calendar-wrapper table {
    clear: both;
    width: 100%;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}

.calendar-wrapper td {
    height: 90px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #7f7f7f;
    border-top: 1px solid #7f7f7f;
    width: 14.28571429%;
    font-size: 20px;
}

.calendar-wrapper thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
}

.calendar-wrapper td.not-current {
    color: #c0c0c0;
}

.calendar-wrapper td.today {
    font-weight: 700;
    color: yellow;
    font-size: 23px;
    background-color: rgb(63, 81, 181, 0.35);

}

.calendar-wrapper #btnPrev {
    float: left;
    margin-bottom: 20px;
}

.calendar-wrapper #btnPrev:before {
    content: ' ';
    padding-right: 4px;
}

.calendar-wrapper #btnNext {
    float: right;
    margin-bottom: 20px;
}

.calendar-wrapper #btnNext:after {
    content: ' ';
    padding-left: 4px;
}

.calendar-wrapper #btnPrev,
.calendar-wrapper #btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #878787;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-weight: bold;
}

.calendar-wrapper #btnPrev:hover,
.calendar-wrapper #btnNext:hover {
    color: black;
}


.calendar-wrapper #divCal tr:not(.days) td:nth-child(n+6) {
    color: red;
}

#divCal table td {
    position: relative;
}

#divCal table td span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 500;
}

.calendar-wrapper #divCal table td .imgSmena {
    width: 45px;
    position: absolute;
    left: 20px;
    top: calc(50% - 13px);
    display: none;
}

.calendar-wrapper #divCal table td .vkladka {
    width: 350px;
    position: absolute;
    left: calc(50% - 175px);
    bottom: -145px;
    display: block;
    background: white;
    padding: 10px 10px;
    height: 130px;
    border-radius: 10px;
    display: none;
    z-index: 10;
    /* border: 1px solid #919191; */
    box-shadow: 0px 3px 1px -4px rgb(0 0 0 / 48%), 0px 2px 2px 0px rgb(0 0 0 / 38%), 0px 1px 20px 0px rgb(0 0 0 / 43%);
}

.calendar-wrapper #divCal table td .vkladka .events {
    overflow-y: scroll;
    height: 130px;
}

.calendar-wrapper #divCal table td .vkladka .events::-webkit-scrollbar {
    width: 0;
}

.calendar-wrapper #divCal table td .vkladka .events::-webkit-scrollbar {
    width: 0;
}

.calendar-wrapper #divCal table td .vkladka .events::-webkit-scrollbar {
    width: 2px;
}

.calendar-wrapper #divCal table td .vkladka .events::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0.2);
}

.calendar-wrapper #divCal table td .vkladka .events::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50);
}


.calendar-wrapper #divCal table td.Smena {
    cursor: pointer;
}

.calendar-wrapper #divCal table td.Smena .imgSmena {
    display: block;
}

.calendar-wrapper #divCal table td .imgEdit {
    width: 25px;
    position: absolute;
    right: 20px;
    top: calc(50% - -5px);
    display: none;
}

.calendar-wrapper #divCal table td.Smena .imgEdit {
    display: block;
}

.calendar-wrapper #divCal table td.Smena:hover .vkladka {
    display: block;
}

#divCal table td.smena:not(.today) {
    cursor: pointer;
}

#divCal table td.smena:not(.today):hover {
    box-shadow: 2px 2px 0 #febc59 inset, -2px -2px 0 #febc59 inset;
}

.calendar-wrapper .days td {
    height: 45px;
    font-weight: bold;
    border: 1px solid black;
    background-color: whitesmoke;
}

.calendar-wrapper .days td:nth-child(n+6) {
    color: red;
}

.calendar-wrapper table thead td {
    height: 55px;
    background: whitesmoke;
}



.calendar-wrapper #divCal table td .row {
    margin-bottom: 10px;
    color: black !important;
    font-weight: 400;
}

.calendar-wrapper #divCal table td .row abbr {
    position: static;
    display: inline-block;
    margin-right: 10px;
}


span.obj {
    display: block;
}





.rbc-toolbar button {
    cursor: pointer;
    margin: 0px 15px !important;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #dadada;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px !important;
    transition: 0.3s;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.rbc-day-bg {
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin: 0 !important;
}

.rbc-day-bg.rbc-today {
    background-color: #b5d8f2;
}

.rbc-date-cell.rbc-now.rbc-current button{
    color: white;
    text-shadow: 0px 0px 2px black;
}

.rbc-button-link {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 20px;
}

.rbc-toolbar button:first-child {
    margin-left: 0 !important;
}


.rbc-row-content {
    top: 19px;
}

.rbc-row-content .rbc-row:first-child {
    position: relative;
    top: -27px;
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: 20px;
    text-transform: uppercase;

    font-weight: 700;
}

.rbc-toolbar button:first-child {
    background-color: #b5d8f2;
}

.rbc-month-header .rbc-header {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    background: rgb(128, 128, 128, 0.4);
    border: 1px solid black !important;
}


.rbc-event {
    transition: 0.3s;
    font-weight: 600;
}

.rbc-event:hover {
    background-color: rgb(128, 128, 128, 0.4) !important;
    color: black;
}


.ModalEvent {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 100;


}

.ModalEventBody {
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    position: relative;
    left: calc(50% - 250px);
    top: calc(50% - 83px);
    width: 500px;
}

.ModalEvent h2 {
    margin-bottom: 25px;
}

.ModalEvent p {
    font-weight: 400;
    margin: 10px 0px;
}

.ModalEvent span {
    font-weight: 600;
    font-size: 18px;
}

.ModalEvent em{
    font-weight: 400;
    margin-top: 10px;
    display: block;
}


.InfoForCalendar {
    padding: 10px 20px;
    border: 2px solid rgb(219, 219, 219);
    margin-bottom: 20px;
    border-radius: 10px;
}

.InfoForCalendar h2 {
    margin-bottom: 10px;
}

.InfoForCalendar p span {
    font-weight: 500;
    padding-left: 5px;
}



.rbc-calendar {
    box-sizing: border-box;
    height: 600px !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rbc-label {
    padding: 0 !important;
}

.rbc-time-view .rbc-allday-cell {
    display: none;
}



.rbc-time-view .rbc-row { 
    height: 60px;
    text-align: center;
}

.rbc-header .rbc-button-link{
    width: 100%;
    display: block;
    left: 0;
}
.rbc-header .rbc-button-link span{
    width: 100%;
    display: block;
    text-align: center;
}


.rbc-day-slot .rbc-event{
    display: block !important;
    width: calc(100% + 10px) !important;
    position: static !important;
    font-size: 20px;
}






.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 20000;
  }
 
  .preloader h3{
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    max-width: 22vw;
    line-height: 2vw;
    margin: 0 auto;
    position: absolute;
    color: wheat;
    left: calc(50% - 11vw);
    top: calc(50% - -8vw);
  }
 
  .preloader h3.sm{
     font-size: 1.4vw;
  }
 
  .loader {
    width: 8vw;
    height: 8vw;
    border: 0.8vw solid white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: calc(50% - 4vw);
    left: calc(50% - 5vw);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    will-change: transform;
    animation: rotation 2s linear infinite;
    transform-origin: center center;
  }
 
  .loader::after {
     content: '';
     box-sizing: border-box;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 11.4vw;
     height: 11.4vw;
     border-radius: 50%;
     border: .8vw solid;
     border-color: whitesmoke transparent;
  }
 
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
 
    100% {
      transform: rotate(360deg);
    }
  }