* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 20px;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.react-calendar__tile {
    max-width: 100% !important;
    padding: 10px 6.6667px;
    height: 85px !important;
    background: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
}
.react-calendar__navigation{
    height: 85px !important; 
    border-bottom: 3px solid rgb(223, 223, 223);
}

.react-calendar__navigation button span {
    text-transform: uppercase;
}

.react-calendar__navigation button{
    font-size: 18px;
    font-weight: 600;
}
.react-calendar__month-view__weekdays{
    font-size: 18px;
    font-weight: 500;
}
.react-calendar__month-view__weekdays__weekday:nth-child(6){
    color: red;
}
.react-calendar__month-view__weekdays__weekday:nth-child(7){
    color: red;
}
.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}
.react-calendar{
    width: 80% !important;
}
.react-calendar__tile.react-calendar__tile--now{
    border: 3px solid red;;
}
.react-calendar__tile--active{
    color: black !important;
}
.react-calendar button{
    position: relative;
    border: 1px solid rgb(0, 0, 0 , 0.2);
}
.react-calendar button em{
   font-size: 12px;
   position: absolute;
   left: 3px;
   top: 3px;
}