.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.tableWrapper {
  margin-top: 80px;  
  width: calc(100vw - 100px);
}
.green{
  color: green;
}
.red{
  color: red;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.row:first-child {
  margin-top: 30px;
}

.row:last-child {
  margin-bottom: 30px;
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  margin: 40px 0 70px 0;
}

.text {
  margin-top: 30px;
  width: 250px;
}
.btnTools{
  color: blue;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid;
}

@media (max-width: 767px) {
  .page {
    justify-content: flex-start;
    align-items: center;
    padding: 60px 20px 20px 20px;
    height: auto;
  }
}

@media (max-width: 350px) {
  .page {
    padding: 60px 20px 20px 20px;
  }
}

@media (max-width: 991px) and (max-height: 420px) {
  .page {
    height: auto;
  }
}
