.row {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.row:first-child {
  margin-top: 30px;
}

.row:last-child {
  margin-bottom: 30px;
}

.wrapper {
  margin: 16px;
}

.selectOptionLabel {
  font-weight: 700;
  margin-bottom: 15px;
}

.rowWithoutMargin {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}
