.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.eyeIcon {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.padding {
  padding: 0 55px 0 55px;
}
