.DeapTime{
    margin-left: 53px;
    text-align: left;
    margin-top: 36px;
}
.DeapGranic{
    margin-left: 53px;
    text-align: left;
    margin-top: 16px;
}



.DeapTime span{
   font-weight: 600;
}

.DeapGranic span{
    font-weight: 600;
}